Source: ros-jazzy-crx-kinematics
Section: misc
Priority: optional
Maintainer: Daniel Cranston <cranston.daniel@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-cmake-ros, ros-jazzy-moveit-core, ros-jazzy-pluginlib, ros-jazzy-tf2-eigen, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-crx-kinematics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-jazzy-moveit-core, ros-jazzy-pluginlib, ros-jazzy-tf2-eigen, ros-jazzy-ros-workspace
Description: C++ implementation of FK/IK for Fanuc CRX series cobots
