name: Jazzy

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build_and_test:
    uses: ./.github/workflows/ros-ci.yml
    with:
      docker_image: ros:jazzy-ros-base
